.create-comment-title{
    align-self: left;
}


.custom-input{
    background-color: rgba(255, 255, 255, 0.587);
    border-radius: 10px;
    /* padding: 12px 200px; */
    margin: 8px 0;
    max-width: 65em;
    min-width: 65em;
    max-height: 8em;
    min-height: 6em;
    box-sizing: border-box;
    font-size: 15;
    font-family: poppins;
}

.comment-btn:hover{
    font-size: 0.7em;
    background: linear-gradient(94.59deg, #FFC529 7.45%, #FFA800 90.71%);
    border-radius: 20px;
    color: rgba(255, 255, 255);
    width: 30vw;
    height: 6vh;
    border-radius: 20px;
    font-family: poppins;
    font-weight: 800;
    border: none;
}

.comment-btn{
    font-size: 0.7em;
    background: linear-gradient(94.59deg, #FFC529 7.45%, #FFA800 90.71%);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.384);
    width: 30vw;
    height: 6vh;
    border-radius: 20px;
    font-family: poppins;
    font-weight: 800;
    border: none;
}