

.App {
  text-align: center;
  font-family: poppins;
}

.App-header {
  background: rgba(33, 158, 188, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.home-container{

background-color: rgb(33, 158, 188);

}

/* .home-h2{
  font-size: 15;
} */

.home-desc{
  font-size: 0.7em;
}



.angry-duck-container{
  background:  #F17105 ;
  padding: 10px;
  align-content: center;
  position: relative;
  border-radius: 10px;

}
.angry-duck-container:hover{
  align-content: center;
  outline: auto;
  position: relative;

}


.anon-duck-container {
  background:  #FFA800 ;
  padding: 10px;
  align-content: center;
  position: relative;
  border-radius: 10px;
}

.anon-duck-container:hover {
  outline: auto;
  align-content: center;
  position: relative;
}

.duck-img{
  width: 60vw;
}

