.form-container-parent{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #83bfcd;
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
input, textarea{
    border: solid 3px white;
    background-color: #83bfcd;
    border-radius: 8px;
    margin: 8px 0;
    height: 3rem;
    width: 40rem;
    max-width: 40rem;
    max-height: 8rem;
    box-sizing: border-box;
    font-size: 0.5rem;
}

.title-div{
    text-align: left;
}
.content-div {
text-align: left;
}




