.form-container-parent{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #83bfcd;
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
input, textarea{
    border: solid 3px white;
    background-color: #83bfcd;
    border-radius: 8px;
    margin: 8px 0;
    height: 3rem;
    width: 40rem;
    max-width: 40rem;
    max-height: 8rem;
    box-sizing: border-box;
    font-size: 0.5rem;
}

.title-div{
    text-align: left;
}
.content-div {
text-align: left;
}

.button{
font-size: 0.7em;
    background: linear-gradient(94.59deg, #FFC529 7.45%, #FFA800 90.71%);
    border-radius: 20px;
    width: 30vw;
    height: 6vh;
    border-radius: 20px;
    font-family: poppins;
    font-weight: 800;
    border: none;
    color: white;     
    
}

.button:hover{
    color: rgba(255, 255, 255, 0.544);
    }



